/*base */
body {
  background-color: antiquewhite;
  margin: 0px 0px;
  padding: 0px 0px;
}

.wrapper {
  margin: 0px 0px;
  padding: 0px 0px;
}

header {
  margin: 0px 0px;
  padding: 0px 0px;
}

nav {
  margin: 0px 0px;
  padding: 0px 0px;
}

ul {
  margin: 0px 0px;
  padding: 0px 0px;
  list-style: none;
}

li {
}

main {
  padding-top: 50px;
}

footer {
}

/* navbar */
.topnavbar {
  background-color: silver;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.nav-container {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.nav-item {
  background-color: yellow;
  height: 50px;
  min-width: 100px;
}

.nav-item-size-0 {
  flex-grow: 0;
}

.nav-item-size-1 {
  flex-grow: 1;
  background-color: chocolate;
}

.nav-item-size-2 {
  flex-grow: 2;
  background-color: teal;
}

.nav-item-size-3 {
  flex-grow: 3;
  background-color: crimson;
}

.btn-nav {
  height: 50px;
  min-width: 100px;
}

.btn-nav:hover {
  background-color: #fafafa;
}

/* hamburger */
.hamburger-btn {
  background-color: black;
  color: aliceblue;
  height: 50px;
  min-width: 100px;
}

.hamburger-btn:hover {
  background-color: azure;
  color: #010101;
}

/* media */
@media (max-width: 768px) {
  .topnavbar {
    position: relative;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    display: none;
  }

  .nav-item .btn-nav {
    width: 100%;
  }
}

/* CHECKBOX HACK */
input[type="checkbox"]#checkbox_hack_hamburger {
  display: none;
}

input[type="checkbox"]#checkbox_hack_hamburger:checked ~ .nav-item {
  display: flex;
}
